<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">

    <ul>
        <li><a th:href="@{/logout}">로그아웃</a></li>
    </ul>
</div>
</html>
