<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">

    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #C8C3C3 !important;
        }
        .user_card {
            height: 400px;
            width: 350px;
            margin-top: auto;
            margin-bottom: auto;
            background: #2ab1ce;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;

        }
        .brand_logo_container {
            position: absolute;
            height: 170px;
            width: 170px;
            top: -75px;
            border-radius: 50%;
            background: #C8C3C3;
            padding: 10px;
            text-align: center;
        }
        .brand_logo {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: 2px solid white;
        }
        .form_container {
            margin-top: 100px;
        }
        .login_btn {
            width: 100%;
            background: #4d4d4d !important;
            color: white !important;
        }
        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }
        .login_container {
            padding: 0 2rem;
        }
        .input-group-text {
            background: #4d4d4d  !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }
        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }
        .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
            background-color: #4d4d4d !important;
        }
        a {
            color: white;
            text-decoration: none;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }
    </style>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center form_container">
                <form id="loginFrm">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control input_user"
                               required="required" id="username" name="username"  value="" placeholder="User ID">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password"  class="form-control input_pass"
                               required="required" id="password" name="password" value="" placeholder="password">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" onclick="login();">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    function initLoginForm(){
        $('#username, #password').each(function(){
            $(this).val('');
        });
    }


    function login(){
        var   id  = $("#username").val();
        var   pw  =  $("#password").val();

        if(checkValidate(id, pw)){
            var loginFrm = $('#loginFrm');
            loginFrm.attr('action', '/login');
            loginFrm.attr('method', 'POST');
            loginFrm.submit();

        }
    }


    function checkValidate(userName, userPasswd){

        if(userName =='' && userPasswd ==''){
            alert("아이디와 암호를 모두 입력하시오");
            return false;
        }else if(userName ==''){
            alert("아이디를 입력하시오");
            return false;
        }else  if(userPasswd ==''){
            alert("암호를 입력 입력하시오");
            return false;
        }
        return true;
    }


    $(document).ready(function () {
        initLoginForm();
    });


</script>
</html>
